html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  color: white;
}

h1{
  color:#f5f5f5;
}

.title {
  text-align: center;
  font-size: 33px;
  color:#f5f5f5;
}

.playing-cards-div {
  text-align: center;
}

.playingCards {
  display: flex;
  justify-content: center;
}

.buttons {
  border-radius: 8px;
  border: 1px solid #a8a8a8;
  font-size: 18px;
}

.buttons:hover{
  background-color:lightgray;
}

.buttons:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.main-menu-buttons {
  margin: 10px;
  padding: 20px;
  width: 200px;
  border: 0px;
}

.game-buttons{
  height: 35px;
  width: 80px;
  font-size: 16px;
  margin: 0 10px 10px 10px;
}

.add-bet-buttons{
  margin: 5px;
  padding: 3px 7px;
  width: 60px;
}

.confirm-bet-buttons{
  margin: 5px;
  padding: 3px 7px;
  width: 100px;
}

.game-result-buttons{
  height:35px;
  width:120px;
}

.insurance-bet-buttons{
  margin: 5px;
  padding: 3px 7px;
}

.insurance-bet-confirm-buttons{
  margin: 5px;
  padding: 3px 7px;
  width: 175px;
}

.game-over-buttons{
  margin: 5px;
  padding: 3px 7px;
  width: 100px;
  height: 40px;
  font-size: 16px;
}

.mode-selector-buttons{
  width:90px;
  height:36px;
}

.in-game-top-buttons{
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  font-size: 25px;
  width:50px;
  height:40px;
}

#backgroundSettings{
  padding: 20px 20px 0 20px;
}

#inGameHomeButton{ 
  right: 50px;
}

#modeSelectorTitle{
  text-align:center;
}

#modeSelectorButtonsDiv{
  display: flex;
  justify-content: space-evenly;
  margin:5px;
  padding:8px;
}

#gameOverModal{
  text-align: center;
}

#gameResultButtonsDiv{
  margin: 30px 0 5px 0;
  display: flex;
  justify-content: space-evenly;
}

#cardsMessage{
  color:white;
}

#gameResultContent{
  text-align:center;
}

#betButton{
  background-color: #66ff61;
}

#betButton:hover{
  background-color: #53db4f;
}

#resetbetButton{
  background-color: #ff9494;
}

#resetbetButton:hover{
  background-color: #e37f7f;
}

#betTitle{
  display:flex;
  align-items: center;
}

#betMinText{
  margin: 0 0 0 10px;
  padding: 8px 0 0 0;
  font-size: 14px;
}

#mainMenu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#mainMenuDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameButtonsDiv {
  margin: 0 auto;
  padding: 15px 0;
  width: 800px;
  background: rgba(0, 0, 0, 0.28);
  text-align: center;
}

#doubleButton{
  width: 120px;
}

#doubleButton:hover{
  background-color:lightgray;
}

#surrenderButton{
  width: 95px;
}

#surrenderButton:hover{
  background-color:lightgray;
}

#gameText {
  margin: 10px 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#gameTextBackground {
  margin: auto;
  width: 800px;
  background: rgba(0, 0, 0, 0.28);
}

#hitButton{
  background-color: #23f707;
  border: 0px;
}

#hitButton:hover{
  background-color: #1bc704;
}

#standButton{
  color: #f5f5f5;
  background-color: #cc1818;
  border: 0px;
}

#standButton:hover{
  color: #f5f5f5;
  background-color: #ad1313;
}

#gameTitle {
  font-size: 23px;
}

#insuranceTitle {
  display: flex;
  align-items: center;
  margin: 0 0 -5% 0;
}

#insuranceOptionalText {
  margin: 0 0 0 10px;
  padding: 6px 0 0 0;
  font-size: 15px;
}

#settingsDiv{
  display: flex;
  justify-content: space-evenly;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.modal-text {
  color: black;
  font-size:19px;
}

.modal-title {
  font-size: 25px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#gameResultModal {
  background-color: rgba(0,0,0,0.45); 
  color:white;
}

/* Media queries for smaller screens */
@media (max-width: 900px) {
  .title {
      font-size: 6vw;
  }

  .buttons {
      font-size: 5vw;
      padding: 2vw;
    width: 15%;
  }

  .main-menu-buttons {
      width: 90%;
  }

  .game-buttons {
      font-size: 3vw;
      width: 15%;
    height: 1%;
  }

  .modal-content {
      width: 90%;
  }

  .modal-text {
      font-size: 5vw;
  }

  .modal-title {
      font-size: 6vw;
  }
  
  #surrenderButton{
    width: 20%;
  }
  
  #doubleButton{
    width: 26%;
  }
  
  #gameButtonsDivDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
  }
  
  #gameButtonsDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    width:100%;
  }
  
  #gameText {
      margin: 10px auto 0 auto; /* Center horizontally */
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center; /* Center the text within the flex container */
      align-items: center; /* Center vertically */
    font-size:2vw;
  }

  #gameTextBackground {
      margin: auto;
      text-align: center;
      width: 100%;
      background: rgba(0, 0, 0, 0.28);
  }

  .gameTextTop {
      padding: 15px;
      text-align: center; /* Center text within each paragraph */
  }
  
  .mode-selector-buttons{
    width: 20%;
    height: 20%;
      font-size: 3vw;
  }
  
  .add-bet-buttons{
    width: 13%;
    font-size: 3vw;
  }
  
  .confirm-bet-buttons{
    width: 20%;
    font-size: 3vw;
  }
  
  .game-result-buttons{
    width: 25%;
    height: 15%;
    font-size: 3vw;
  }
  
  .insurance-bet-buttons{
    width: 20%;
    height: 15%;
    font-size: 3vw;
  }
  
  .insurance-bet-confirm-buttons{
    width: 20%;
    height: 15%;
    font-size: 3vw;
  }
  
  #insuranceDescription{
    font-size:3vw;
  }
  
  .game-over-buttons{
    width:22%;
    height:1%;
    font-size:3vw;
  }
}